<a href="https://colab.research.google.com/github/NOFONDO/E-Commerce-website/blob/main/Copy_of_Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice the questions given in the worksheet on word problems on four operations i.e. addition (+), subtraction (-), multiplication (ร) and division (รท).

`Solve the following:`

1. The population of a town is 198568. Out of them 45312 are men and 35678 are women. Find the number of children in the town.

In [ ]:
total_population = 198568
men = 45312
women = 35678

children = total_population - (men + women)
print(children)

117578

117578

2. A shopkeeper has 2425 boxes of 24 pencils each. How many pencils do all the boxes have in all?

In [ ]:
num_boxes = 2425
pencils_per_box = 24

total_pencils = num_boxes * pencils_per_box
print(total_pencils)

58200

3. Linda bought a graduation suit for CFA 45000 and a pair of shoe for CFA 60000. She gave $5000 to the shopkeeper. How much money did the shopkeeper return to her?

In [ ]:
cost_suit = 45000
cost_shoes = 60000
amount_given = 5000 # Assuming this is CFA 5000 based on context, not USD 5000

total_cost = cost_suit + cost_shoes
money_returned = amount_given - total_cost

print(money_returned)

-100000

4. The cost of 21 TV sets is CFA 19785000. Find the cost of one TV set.

In [ ]:
total_cost_21_tv_set = 19785000
number_tv_set = 21

cost_per_tv = total_cost_21_tv_set / number_tv_set
print(cost_per_tv)

942142.8571428572

5. A factory produces 24532 bulbs in a month. What is its annual production?

In [ ]:
bulbs_produce_per_month = 24532
months_produce_per_year = 12

annual_production = bulbs_produce_per_month * months_produce_per_year
print(annual_production)

294384

6. There are 145968 bags of sugar, 236487 bags of wheat and some bags of rice in a store room. If the total number of bags in the store room is 450000, find the number of bags of rice.

In [ ]:
bags_sugar = 145968
bags_wheat = 236487
total_bags = 450000

bags_rice = total_bags - (bags_sugar + bags_wheat)
print(bags_rice)

67545

7. A factory manufactured 483685 toys in three weeks. The production in first week was 146345 toys and in second week 138152 toys. Find the production in the third week.

In [ ]:
total_production_of_toys_three_weeks = 483685
production_first_week = 146345
production_second_week = 138152

production_third_week = total_production_of_toys_three_weeks - (production_first_week + production_second_week)
print(production_third_week)

199188

8. The cost of a sofa set is CFA 800000. How much will 124 such sofa sets cost?

In [ ]:
cost_per_sofa_set = 800000
number_of_sofa_sets = 124

total_cost = cost_per_sofa_set * number_of_sofa_sets
print(total_cost)

99200000

9. There are 24 classrooms in a LMUI. 986 students study there. what is the Equal number of students sits in each room?

In [ ]:
total_students = 986
num_class_rooms = 24

students_per_room = total_students / num_class_rooms
print(students_per_room)

41.083333333333336

10. 986 students of LMUI want to go to SEME beach by bus. If one bus can carry 75 students, how many buses are required to carry all the students?

In [ ]:
import math

total_students = 986
students_per_bus = 75

buses_required = math.ceil(total_students / students_per_bus)
print(buses_required)

14

11. The cost of aLaptop is 1475. What is the cost of 35 laptops?

In [ ]:
cost_of_laptop = 1475
number_laptops = 35
total_cost = cost_of_laptop * number_laptops
print(total_cost)

51625

12. In the recently conducted election, 2474179 people voted for Paul Biya, 1622334 people for Issa Tchiroma and 36824 people for Osih Jushua. If everyone voted in the town, what is the total number of voters?

13. Maria bought 96 toys priced equally for CFA 12960. The amount of CFA 1015 is still left with her. Find the cost of each toy and the amount she had.

In [ ]:
number_toys = 96
total_cost_toys = 12960
amount_left = 1015

cost_per_toy = total_cost_toys / number_toys
amount_had = total_cost_toys + amount_left

print(f"Cost of each toy: CFA {cost_per_toy:.2f}")
print(f"Amount Maria had: CFA {amount_had}")

Cost of each toy: CFA 135.00
Amount Maria had: CFA 13975


## Exercise
> **EXERCISE**: CamairCo wants to fly a plane to the from the Douala International airport to The Nsimalen Airport in Yaounde. Flying the plane costs CFA120000 . So far, 29 people have signed up for the trip. If the CamairCo charges CFA20000 per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [ ]:
##Define Variables

In [ ]:
flying_cost = 120000
num_people = 29
ticket_price = 20000

total_revenue = num_people * ticket_price
profit = total_revenue - flying_cost

print(f"The profit made by CamairCo is CFA {profit}")

The profit made by CamairCo is CFA 460000